/*
 * Common styles
 */

.v-app-bar.v-toolbar,
.v-navigation-drawer,
.v-navigation-drawer button,
.v-navigation-drawer .v-list-item {
  color: #ffffff !important;
}

.v-app-bar-title {
  text-align: center;
}

nav.v-navigation-drawer {
  background: linear-gradient(180deg, #10446b 0, #40749b 100%);
}

body, .v-main, .v-window {
  background-color: rgb(var(--v-theme-background));
}

.v-sheet {
  background-color: #ffffff;
}

.v-container, .v-sheet .v-window {
  background-color: transparent;
}

.v-sheet {
  margin: 1rem 0;
  padding: 2rem 2.5%;
  box-shadow: 0px 3px 9px 0px #A8B8C825;
}

.hidden {
  visibility: hidden;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.25s;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}
