/*
 * Common styles
 */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.spin1{animation:spinner_a1 1s linear infinite}
.spin2{animation-delay:-0.75s}
.spin3{animation-delay:-0.5s}
@keyframes spinner_a1 {
  90%,100% {
    r: 3px
  }
  50% {
    r: 0.25px
  }
}


body,
.v-main {
  --cms-primary: 64, 112, 160;
  --cms-primary-dark: 16, 64, 112;
  background-color: rgb(var(--v-theme-background));
}

.v-navigation-drawer,
.v-navigation-drawer button,
.v-navigation-drawer .v-list-item,
.v-navigation-drawer .v-list-item a {
  text-decoration: none;
}

.v-app-bar-title {
  text-align: center;
}

.v-tabs--density-compact {
  --v-tabs-height: 48px !important;
}

.v-tab.changed:before,
.v-tab.error:before {
  content: "•";
  font-size: 200%;
}

.v-tab.changed:before {
  color: rgb(var(--v-theme-warning));
}

.v-tab.error:before {
  color: rgb(var(--v-theme-error));
}

.v-dialog > .v-overlay__content {
  max-width: calc(100% - 2.5%) !important;
  margin: 0 !important;
}

.v-window,
.v-container {
  background-color: transparent;
}

.v-container {
  padding: 0 !important;
}

.v-row  {
  margin: 0.5rem 0 !important;
}

.v-row > div[class*="v-col"] {
  padding: 0 1rem;
}

.v-sheet {
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgb(var(--v-theme-surface));
  box-shadow: 0px 3px 9px 0px #A8B8C825 !important;
}

.v-selection-control--density-default {
  --v-selection-control-size: 48px !important;
}

.v-btn.v-btn--density-default:not(.v-btn--stacked) {
  height: 48px;
}

.list.v-expansion-panels {
  display: block;
}

.list .v-expansion-panel {
  border-radius: 0;
}

.list .v-expansion-panel.v-expansion-panel--active {
  border: 1px solid #D0D8E0;
}

.list .v-expansion-panel--active > .v-expansion-panel-title:not(.v-expansion-panel-title--static) {
  min-height: 48px;
}

.list .v-expansion-panel-title {
  padding: 0;
}

.list .v-expansion-panel-title .element-title {
  font-weight: bold;
  flex-grow: 1;
  max-height: 48px;
  overflow: hidden;
  text-wrap: nowrap;
}

.list .v-expansion-panel-title .element-type {
  margin-inline-start: 1rem;
}

.list .v-expansion-panel-title__icon {
  margin-inline-start: unset;
  padding: 0.8rem;
}

.list .v-expansion-panel-text__wrapper {
  padding: 0 1rem;
}

.v-toolbar .v-btn.error,
.v-toolbar .v-btn-group.error {
  background-color: rgb(var(--v-theme-error)) !important;
  color: rgb(var(--v-theme-on-error)) !important;
}

.hidden {
  visibility: hidden;
}

.unpublished {
  color: rgb(var(--v-theme-warning));
}

.btn-group {
  margin: 1rem 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.25s;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}

.ck-editor {
  --ck-color-toolbar-background: #F8F9FA;
  --ck-color-base-border: #767676;
  --ck-border-radius: 0.5rem;
}

.ck-toolbar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: 1px solid #767676 !important;
}

.ck-content ul,
.ck-content ol {
  margin-inline-start: 1rem;
}

.files {
  border: 1px dashed #767676;
  border-radius: 0.5rem;
}