/*
 * Common styles
 */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.spin1{animation:spinner_a1 1s linear infinite}
.spin2{animation-delay:-0.75s}
.spin3{animation-delay:-0.5s}
@keyframes spinner_a1 {
  90%,100% {
    r: 3px
  }
  50% {
    r: 0.25px
  }
}


body {
  --cms-primary: 64, 112, 160;
  --cms-primary-dark: 16, 64, 112;
}

.v-locale--is-rtl .mdi-arrow-right-thin,
.v-locale--is-rtl .mdi-keyboard-backspace,
.v-locale--is-rtl .mdi-chevron-left,
.v-locale--is-rtl .mdi-chevron-right,
.v-locale--is-rtl .mdi-menu-right {
  transform: rotate(180deg) !important;
}

.v-snackbar__content {
  text-align: center !important;
}

.v-navigation-drawer,
.v-navigation-drawer button,
.v-navigation-drawer .v-list-item,
.v-navigation-drawer .v-list-item a {
  text-decoration: none;
}

.v-app-bar.v-toolbar {
  background-color: rgb(var(--v-theme-background)) !important;
}

.v-toolbar .v-btn.error,
.v-toolbar .v-btn-group.error {
  background-color: rgb(var(--v-theme-error)) !important;
  color: rgb(var(--v-theme-on-error)) !important;
}

.v-app-bar-title {
  text-align: center;
}

.v-tab .v-btn__overlay {
  border-radius: 8px;
}

.v-tab.changed:before,
.v-tab.error:before {
  content: "•";
  font-size: 200%;
}

.v-tab.changed:before {
  color: rgb(var(--v-theme-warning));
}

.v-tab.error:before {
  color: rgb(var(--v-theme-error));
}

.v-window,
.v-container {
  background-color: transparent;
}

.v-container {
  padding: 0 !important;
}

.v-row  {
  margin: 4px 0 !important;
}

.v-row > div[class*="v-col"] {
  padding: 0 8px;
}

.v-sheet {
  margin: 0;
  padding: 16px;
  background-color: rgb(var(--v-theme-surface));
  box-shadow: 0px 3px 9px 0px #A8B8C825 !important;
}

.v-sheet.box {
  border-radius: 8px !important;
  margin: 0 1%;
}

.v-selection-control {
  flex-grow: unset !important;
}

.v-selection-control--density-default {
  --v-selection-control-size: 48px !important;
}

.v-btn.v-btn--density-default:not(.v-btn--stacked) {
  height: 48px;
}

.v-btn--size-default {
  min-width: unset !important;
}

.v-list {
  margin: 0 4px;
}

.v-list-group {
  --list-indent-size: 12px !important;
}

.v-list-group:not(:last-child) {
  border-bottom: 1px solid rgba(var(--v-theme-on-surface), var(--v-activated-opacity));
}

.v-list-group__header {
  text-transform: capitalize;
  color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !important;
  font-size: 90%;
}

.v-list-item {
  border-radius: 8px;
}

.v-list-group__header {
  color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
  border-radius: 8px !important;
}

.v-list-group:not(:last-child) {
  border-bottom: 1px solid rgba(var(--v-theme-on-surface), var(--v-activated-opacity));
  padding: 4px 0;
}

.list.v-expansion-panels {
  display: block;
}

.list .v-expansion-panel {
  border-radius: 0;
}

.list .v-expansion-panel.v-expansion-panel--active {
  border: 1px solid #D0D8E0;
}

.list .v-expansion-panel--active > .v-expansion-panel-title:not(.v-expansion-panel-title--static) {
  min-height: 48px;
}

.list .v-expansion-panel-title {
  padding: 0;
}

.list .v-expansion-panel-title .element-title {
  margin-inline-start: 6px;
  font-weight: bold;
  flex-grow: 1;
  max-height: 48px;
  overflow: hidden;
  text-wrap: nowrap;
}

.list .v-expansion-panel-title .element-type {
  margin-inline-start: 8px;
}

.list .v-expansion-panel-title__icon {
  margin-inline-start: unset;
  padding: 6px;
}

.list .v-expansion-panel-text__wrapper {
  padding: 0 8px;
}

.v-btn.menu {
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8px;
}

.header > * {
  margin: 4px 0;
}

.bulk {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin: auto;
  order: 3;
}

.search .v-select {
  max-width: 10rem;
  margin: 0 4px;
}

.search .v-text-field {
  min-width: 7.5rem;
  margin: 0 4px;
}

@media (min-width: 600px) {
  .search {
    order: unset;
    width: unset;
    max-width: 30rem;
  }
}

.menu-save .v-btn__content,
.menu-publish .v-btn__content {
  height: 32px;
}

.menu-publish .button {
  padding: 0;
}

.menu-publish .v-btn:not(.v-btn--disabled) .v-btn__content {
  border: 1px solid rgb(var(--v-theme-primary));
  background-color: rgb(var(--v-theme-primary));
  color: rgb(var(--v-theme-on-primary));
}

.menu-publish .v-btn .v-btn__content {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 8px;
  padding-inline-end: 4px;
}

.menu-publish .v-btn ~ .v-btn .v-btn__content {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 4px;
}

.v-locale--is-rtl .menu-publish .v-btn .v-btn__content {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.v-locale--is-rtl .menu-publish .v-btn ~ .v-btn .v-btn__content {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.menu-publish .v-btn--icon.v-btn--density-default {
  width: auto;
}

.menu-content {
  background-color: var(--v-theme-background);
}

.menu-content .v-btn {
  width: 100%;
}

.menu-save.v-btn .v-btn__content {
  padding: 4px;
}

.menu-save.v-btn:not(.v-btn--disabled) .v-btn__content {
  background-color: rgb(var(--v-theme-surface));
  border: 1px solid rgb(var(--v-theme-on-background));
  border-radius: 4px;
}

.loading,
.notfound {
  display: flex;
  align-items: center;
}

.loading .spinner {
  margin-inline-start: 16px;
  color: #808080;
}

.publish-at {
  color: rgb(var(--v-theme-warning));
  margin-inline-end: 4px;
  font-size: 20px !important;
}

.hidden {
  visibility: hidden;
}

.trashed {
  text-decoration: line-through;
}

.icon::before {
  padding: 12px;
}

.btn-group {
  padding: 8px;
}

.btn-overlay {
  padding: 12px;
  background: rgb(var(--v-theme-surface-variant)) !important;
  color: rgb(var(--v-theme-surface)) !important;
  position: absolute !important;
  border-radius: 50%;
  width: max-content;
  opacity: 0.66;
  right: 0;
  top: 0;
}

.draft {
  background-color: rgb(255, 192, 128) !important;
  color: rgb(var(--v-theme-surface-variant)) !important;
  border-radius: 50%;
  opacity: 0.66;
}

.item-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  margin: 0 1%;
}

.item-text {
  flex-grow: 1;
  margin-inline-end: 4px;
}

.item-text,
.item-aux {
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-aux {
  align-self: end;
}

.item-aux,
.item-subtitle {
  font-size: 90%;
  color: #808080;
}

.item-lang {
  background-color: rgb(var(--v-theme-primary));
  color: rgb(var(--v-theme-on-primary));
  display: inline-block;
  margin-inline-end: 4px;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 8px;
  font-weight: bold;
  font-size: 60%;
  padding: 2px 4px;
}

.ck-editor {
  --ck-color-toolbar-background: #F8F9FA;
  --ck-color-base-border: #767676;
  --ck-border-radius: 4px;
}

.ck-toolbar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: 1px solid #767676 !important;
}

.ck-content ul,
.ck-content ol {
  margin-inline-start: 8px;
}
